@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #363563;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-maven: var(--font-maven-pro);

  /* Blues */
  --color-palma-blue: #363563;
  --color-palma-blue-medium: #3d3f79;
  --color-palma-blue-light: #4f539a;
  --color-palma-blue-lighter: #6468ae;

  /* Reds */
  --color-palma-red: #ed3237;
  --color-palma-red-medium: #f0545a;
  --color-palma-red-light: #f27177;
  --color-palma-red-lighter: #f48d92;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}
